.accordion-button{
    padding: 8px;
    color: red;
}

.accordion-button:not(.collapsed) {
    color: red;
    background-color: #ffffff;
    box-shadow: red;
}

.accordion-button:focus {
    z-index: 3;
    border-color: red;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(239 3 36 / 25%);
}

.accordion-body strong{
    color: red !important;
}